/** global colors **/
$color-blue: #003268;
$color-black: #363636;
$color-gray: #979797;
$color-gray-soft: #e5e5e5;
$color-red: #b91805;
$color-link: #0d6db2;
$color-button-green: #009700;
$color-khaki: #B8B385;
/** end global colors  **/

/** intro page colors **/
$color-intro-grey-header: #EAEBEC;
$color-grey-header-text: #636363;
/** end intro page colors **/



$font-sans-reg: 'texgyreherosregular';
$font-sans-bold:'texgyreherosbold';
$font-serif-reg:'TeXGyreTermesRegular';
$font-serif-bold: 'TeXGyreTermesBold';
$font-slab-reg:'aleoregular';
$font-slab-bold: 'aleobold';
$font-icon: 'FontAwesome';

$font-helvetica: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$header-height: 50px;
