@import 'mixins';
/** NAVIGATION **/
	.nav-container {
		z-index:1500;
		@include margin(34px, null, null, null);
		@include border-top(solid, 1, #E7E7E7);
	}
  .nav {
  	@include text-align(center);
	
	//navbar//
	
	&.navbar-nav {
		
		@include display(table);
		@include text-align(center);
		
		//list item//
		li {
			
			@include display(table-cell);
			@include position(relative, null, null, null, null);
			
			@include desktop {
				@include padding(null, 17px, null, 17px);
			}
			
			@include tablet-landscape {
				@include padding(null, 13px, null, 13px);
			}
			
			@include tablet-portrait {
				@include padding(null, 6px, null, 6px);
			}
			
			&:before {
				content:'/';
				@include font(null, null, #CCC, null);
				
				@include desktop {
					@include position(absolute, 10px, null, null, 0px);
				}
				
				@include tablet-landscape {
					@include position(absolute, 10px, null, null, -2px);
				}
				
				@include tablet-portrait {
					@include position(absolute, 7px, null, null, -2px);
				}
			}
			
			&:first-child {
				&:before {
					content:'';
				}
			}
			
			a {
				@include font(null, null, rgb(0, 50, 104), null);
				@include float(left);
				@include padding(10px, 0px !important, 10px, 0px !important);
				@include cursor(pointer);
				
				@include desktop {
					@include font(null, 16px, null, null);
				}
				
				@include tablet-landscape {
					@include font(null, 14px, null, null);
				}
				
				@include tablet-portrait {
					@include font(null, 12px, null, null);
				}
				
				&:hover {
					@include bg-color(rgba(#FFF,0));
					@include font(null, null, #428BCA, null );
				}
				
				&:focus {
					@include bg-color(rgba(#FFF,0));
				}
				
				&.clicked {
					@include font(null, null, #428BCA, null );
				}
			}
			
		//subnav container //
		.subnav-container {
			@include box-size(575px, null);
			max-width:650px;
			@include position(absolute, 25px, null, null, null);
			@include display(none);
			@include cursor(pointer);
			
			
			
			&.left {
				
				@include desktop {
					@include position(absolute, null, null, null, 13px);
				}
				
				@include tablet-landscape {
					@include position(absolute, null, null, null, -5px);
				}
				
				@include tablet-portrait {
					@include position(absolute, null, null, null, -12px);
				}
				
				.pointer {
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 16px 12px 16px;
					border-color: transparent transparent darken(rgb(177, 178, 181), 10%) transparent;
					position: absolute;
				  	top: -12px;
				  	left: 15px;
					
					.inner-pointer {
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 15px 11px 15px;
						border-color: transparent transparent #FFF transparent;
						position: absolute;
						top: 1px;
						left: -15px
					}
				}
				
			}
			
			&.right {
				
				@include desktop {
					@include position(absolute, null, 13px, null, null);
				}
				
				@include tablet-landscape {
					@include position(absolute, null, -5px, null, null);
				}
				
				@include tablet-portrait {
					@include position(absolute, null, -5px, null, null);
				}
				
				.pointer {
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 16px 12px 16px;
					border-color: transparent transparent darken(rgb(177, 178, 181), 10%) transparent;
					position: absolute;
				  	top: -12px;
				  	right: 15px;
					
					.inner-pointer {
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 15px 11px 15px;
						border-color: transparent transparent #FFF transparent;
						position: absolute;
						top: 1px;
						right: -15px
					}
				}
				
				
			}
			
			//subnav ul //
			ul.subnav{
				@include bg-color(#FFF);
				@include text-align(left);
				@include float(left);
				@include display(block);
				@include position(relative, null, null, null, null);
				@include padding(14px, 20px, 14px, 15px);
				@include margin(25px, null, null, null);
				@include border(solid, 1, rgb(177, 178, 181));
				@include drop-shadow(3, 4, 6, #000000,.3);
				@include border-radius(2,2,2,2);
				
				&.right {
					@include float(right);
				}
				
				
				li {
					@include display(block);
					clear:both;
					@include float(left);
					@include position(relative, null, null, null, null);
					@include padding(0px, 0px, 0px, 0px);
					@include box-size(100%, null);
					
					&:before {
						content:'';
					}
					
					a{
						@include padding(6px, 0px, 6px, 0px);
						@include display(block);
						@include box-size(100%, null);
						
						&:hover {
							text-decoration:none;
						}
						
						&.all {
							@include font(null, null, null, bold);
							
							.arrow {
								  display: inline-block;
								  width: 0;
								  font-size: 0;
								  margin-top: 6px;
								  margin-right: 5px;
								  height: 0;
								  border-style: solid;
								  border-width: 5px 0 5px 5px;
								  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #374E7A;
							}
						}
						
						&:hover {
							&.all {
								@include font(null, null, null, bold);
								
								.arrow {
									  display: inline-block;
									  width: 0;
									  font-size: 0;
									  margin-top: 6px;
									  margin-right: 5px;
									  height: 0;
									  border-style: solid;
									  border-width: 5px 0 5px 5px;
									  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #428BCA;
								}
							}
						}
					}
					
					
							
							
					ul {
						@include float(left);
						@include display(inline);
						@include position(relative, null, null, null, null);
						
						&:first-child {
							@include margin(null, 42px, null, null);
						}
						
						
						li{
							@include display(inline);
							clear:both;
							@include float(left);
							@include padding(0px, 0px, 0px, 0px);
							
						}
						
					}
				}
			}
			//end subnav ul
		}
		//end subnav container //
			
		}
		//end list item //
			
		
	}
	//end navbar //
  }
  
  
  /** END NAVIGATION **/