@import '../vendor/bootstrap/bootstrap.css';
@import "../font-awesome/_font-awesome";
@import 'reset';

@import 'constants';
@import 'fonts';



$mobile-min-width: 320px;
$mobile-max-width: 736px;
$tablet-min-width: 768px;
$tablet-max-width: 1024px;
$desktop-width: 1224px;

@mixin mobile {
  @media (min-device-width:#{$mobile-min-width}) and (max-device-width: #{$mobile-max-width}) {
    @content;
  }
}

@mixin mobile-portrait {
  @media (min-width : #{$mobile-min-width}) and (max-width : #{$mobile-max-width}) and (orientation : portrait) {
    @content;
  }
}

@mixin mobile-landscape {
  @media (min-width : #{$mobile-min-width}) and (max-width : #{$mobile-max-width}) and (orientation : landscape) {
    @content;
  }
}


@mixin tablet {
  @media (min-width: #{$tablet-min-width}) and (max-width: #{$tablet-max-width}) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (min-width: #{$tablet-min-width}) and (max-width: #{$tablet-max-width}) and (orientation : portrait) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: #{$tablet-min-width}) and (max-width: #{$tablet-max-width}) and (orientation : landscape) {
    @content;
  }
}



@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
  
  .old-ie & { 
	  @content 
  }
}


/** IE10 detection **/
@mixin ie10 {
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
		@content;
	}
}
/** end IE10 detection **/

/** firefox detection **/
@mixin firefox{
	@-moz-document url-prefix() {
		@content;
	}
}
/** end firefox detection **/



$pixel: 1px;

$z-layers: (
  "modal":			9001,
  "mask":       	9000,
  "default":            1
);

@function z($layer) {
  @if not map-has-key($z-layers, $layer) {
    @warn "No layer found for `#{$layer}` in $z-layers map. Property omitted.";
  }
 
  @return map-get($z-layers, $layer);
}


/** text mixins **/
@mixin font-family($font-family){
	font-family: $font-family;
}

@mixin font-size($font-size){
	font-size: $font-size;
}

@mixin font-color($font-color) {
	color: $font-color;
}

@mixin font-weight($font-weight:normal) {
	font-weight: $font-weight;
}

@mixin font($font-family, $font-size,$font-color, $font-weight:normal) {
	@include font-family($font-family);
	@include font-size($font-size);
	@include font-weight($font-weight);
	@include font-color($font-color);
}

@mixin text-decoration($decoration:none) {
	text-decoration:$decoration;
}
/** end text mixins **/

@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}

@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");


@mixin bg-color($color, $alpha:1) {
	background-color: rgba($color, $alpha);
}


@mixin line-height($line-height) {
	line-height:$line-height;
}

@mixin text-align($text-align) {
  text-align:$text-align;
}

@mixin float($float){
	float:$float;
}

@mixin overflow($overflow-x, $overflow-y){
	overflow-x:$overflow-x;
	overflow-y:$overflow-y;
}

@mixin display($display) {
  display:$display;
}
	
@mixin width($width) {
  width:$width;
}

@mixin height($height) {
  height: $height;
}

@mixin box-size($width, $height){
	@include width($width);
	@include height($height);
}


@mixin cursor($cursor) {
	cursor: $cursor;
}

@mixin white-space($white-space){
	white-space:($white-space);
}

@mixin position($position, $top:0, $right:0, $bottom:0, $left:0) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin margin($margin-top:0, $margin-right:0, $margin-bottom:0, $margin-left:0) {
	margin-top: 	$margin-top ;
	margin-right: 	$margin-right;
	margin-bottom: 	$margin-bottom;
	margin-left: 	$margin-left;
}

@mixin padding($padding-top:0, $padding-right:0, $padding-bottom:0, $padding-left:0) {
	padding-top: 	$padding-top;
	padding-right: 	$padding-right;
	padding-bottom: $padding-bottom;
	padding-left: 	$padding-left;
}

.grid-parent {
	@include padding(null, 0px, null, 0px);
}

/** BORDER MIXINS **/
	@mixin border-top($border-style:solid, $border-width:1, $border-color: $color-main-stroke) {
		border-top-style: $border-style;
		border-top-width: #{$border-width}px;
		border-top-color: $border-color;
	}
	
	@mixin border-right($border-style:solid, $border-width:1, $border-color: $color-main-stroke) {
		border-right-style: $border-style;
		border-right-width: #{$border-width}px;
		border-right-color: $border-color;
	}


	@mixin border-bottom($border-style:solid, $border-width:1, $border-color: $color-main-stroke) {
		border-bottom-style: $border-style;
		border-bottom-width: #{$border-width}px;
		border-bottom-color: $border-color;
	}
	
	@mixin border-left($border-style:solid, $border-width:1, $border-color: $color-main-stroke) {
		border-left-style: $border-style;
		border-left-width: #{$border-width}px;
		border-left-color: $border-color;
	}
	
	
	@mixin border($border-style:solid, $border-width:1, $border-color: $color-main-stroke) {
		border-top-style:		$border-style;
		border-right-style:		$border-style;
		border-bottom-style:	$border-style;
		border-left-style:		$border-style;
		
		border-top-width:		#{$border-width}px;
		border-right-width:		#{$border-width}px;
		border-bottom-width:	#{$border-width}px;
		border-left-width:		#{$border-width}px;
		
		border-top-color:		$border-color;
		border-right-color:		$border-color;
		border-bottom-color:	$border-color;
		border-left-color:		$border-color;
	}
	
	@mixin border-radius($topright:6, $bottomright:6, $bottomleft:6, $topleft:6) {
		-webkit-border-top-right-radius:    #{$topright}px;
		-webkit-border-bottom-right-radius: #{$bottomright}px;
		-webkit-border-bottom-left-radius:  #{$bottomleft}px;
		-webkit-border-top-left-radius:     #{$topleft}px;
	
		-moz-border-radius-topright:        #{$topright}px;
		-moz-border-radius-bottomright:     #{$bottomright}px;
		-moz-border-radius-bottomleft:      #{$bottomleft}px;
		-moz-border-radius-topleft:         #{$topleft}px;
	
		border-top-right-radius:            #{$topright}px;
		border-bottom-right-radius:         #{$bottomright}px;
		border-bottom-left-radius:          #{$bottomleft}px;
		border-top-left-radius:             #{$topleft}px;
	}
	/** END BORDER MIXINS **/
	
	
/** DROP SHADOW **/
@mixin drop-shadow($left:0, $top:0, $blur:6, $color:#000000, $alpha:.5) {
  -webkit-box-shadow: #{$left}px #{$top}px #{$blur}px rgba($color, $alpha);
  -moz-box-shadow: #{$left}px #{$top}px #{$blur}px rgba($color, $alpha);
  box-shadow: #{$left}px #{$top}px #{$blur}px rgba($color, $alpha);
}
/** END DROP SHADOW **/

/** INNNER SHADOW **/
@mixin inner-shadow ($left:0, $top:0, $blur:6, $color:#000000, $alpha:.5) {
	-webkit-box-shadow: inset #{$left}px #{$top}px #{$blur}px rgba($color, $alpha);
    -moz-box-shadow: inset #{$left}px #{$top}px #{$blur}px rgba($color,$alpha);
     box-shadow: inset #{$left}px #{$top}px #{$blur}px rgba($color, $alpha);
}
/** END INNER SHADOW **/


/** TEXT SHADOW **/
@mixin text-shadow($left:0, $top:0, $blur:6, $color:#000000, $alpha:.5) {
	text-shadow: #{$left}px #{$top}px #{$blur}px rgba($color, $alpha);
}
/** END TEXT SHADOW **/

/** gradienst **/
@mixin vertical-gradient($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Opera 12
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}
@mixin horizontal-gradient($startColor: #000, $endColor: #FFF) {
 	background-color: $startColor;
	background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
	background-image: -webkit-linear-gradient(left, $startColor, $endColor);
	background-image: -moz-linear-gradient(left, $startColor, $endColor);
	background-image: -ms-linear-gradient(left, $startColor, $endColor);
	background-image: -o-linear-gradient(left, $startColor, $endColor);
}
/** end gradients **/

/** emboss **/
@mixin letterpress($opacity){
    text-shadow:white($opacity) 0 1px 0;
}
/** end emboss **/

/** mask overlay **/
@mixin mask-overlay($color, $alpha:.5) {
  @include bg-color($color, $alpha);
  position: absolute;
  top: 0;
  left: 0;
  @include width(100%);
  @include height(100%);
  z-index: z("mask");
}
/** end mask overlay **/

@function tint($color, $percentage) {
  @return mix($color, #FFF, $percentage);
}

@function shade($color, $percentage) {
  @return mix($color, #000, $percentage);
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

/** buttons **/

@mixin btn{
	@include line-height(1.42857143);
	@include text-align(center);
	@include border-radius(4,4,4,4);
}

@mixin btn-primary($bg-color, $font-color:#FFFFFF) {
	@include btn;
	@include font($font-sans-bold, 15px, #fff);
	@include padding(6px,18px,6px,18px);
	@include border(solid, 2, lighten($bg-color, 2.5%));
	@include bg-color($bg-color);
	@include cursor(pointer);
}

@mixin select{
	@include font($font-sans-reg, 12px, $color-black);
	@include padding(3px,0,3px,3px);
	@include margin(0,0,12px,0);
	@include border(solid,1, $color-gray);
	@include border-radius(3,3,3,3);
	-webkit-appearance: none;
}

@mixin drawArrow($base, $point,  $size, $base-size, $color) {
  border           : #{$size} solid transparent;
  border-#{$base}  : #{$base-size} solid #{$color};
  border-#{$point} : none;
}

//.arrow-one {
  //@include drawArrow(bottom, top, 10px, 10px, #0084C7);
//}



/** left arrow **/
@mixin arrow($width:0, $border-color:#FFF, $offset:1) {
	width: 0;
	height: 0;
	border-style: solid;
	@include position(absolute);
	border-width: #{$width/2}px #{$width}px #{$width/2}px 0;
	border-color: transparent $border-color transparent transparent;
	left:-#{$width + $offset - 1}px;
	top:-#{$offset}px;
}

@mixin inner-arrow($width:0, $border-color:#FFF, $offset:1) {
	$inner-height: ($width - $offset);
	$inner-width: ($inner-height / 2  );
	$left: ($offset * 2);
	$top: ($width / $offset - 1);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: #{$inner-width}px #{$inner-height}px #{$inner-width}px 0;
	border-color: transparent $border-color transparent transparent;
	@include position(absolute);
	@include position(absolute);
	left:#{$left}px;
	top:-#{$top}px;
}
/** left arrow **/

/** bootstrap add in **/
	.col-5ths {
		width: 20%;
		float: left;
	}

/** end bootstrap add in **/